.container h1 {
  text-align: center;
  margin-bottom: 5vh;
}

/* form input styles */
label,
input {
  display: block;
  width: 100%;
  margin: 0;
}

input {
  margin: 2vh 0;
  border: none;
  border-bottom: 1px solid grey;
  color: grey;
  font-family: monospace;
}

input[type="submit"] {
  font-family: initial;
  color: green;
  padding: 10px;
 margin: 2vh 0;
}

input[type="file"] {
  display: none;
}

.file-upload {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex-direction: column;
}

.sign-in {
  color: #282c34;
  background: rgb(147, 212, 191);
}

form {
  margin-bottom: 30px;
}

.error{
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px;
  background: #e56c6c;
}

.error p {
  color: white;
  margin: 0;
}

.btn {
  display: inline-block;
  padding: 0.2em 1.45em;
  margin: 0.1em;
  border: 0.15em solid #cccccc;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Segoe UI", "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
  text-align: center;
  position: relative;
}

.btn:hover {
  border-color: #7a7a7a;
}

.btn-signout {
  background-color: #eec9bd;
}

.btn-submit {
  background-color: hsl(93, 42%, 75%);
}

.btn-signin {
  background-color: #e9dc93;
}

/* memory lane pics */
.memory-lane-images img {
  width: 20vw;
  height: auto;
}