.container h1 {
  text-align: center;
  margin-bottom: 5vh;
}

label,
input {
  display: block;
  width: 100%;
  margin: 0;
}

input {
  margin-bottom: 4vh;
  border: none;
  border-bottom: 1px solid grey;
  color: grey;
  font-family: monospace;
}

input[type="submit"] {
  font-family: initial;
  color: green;
  padding: 10px;
}

.sign-in-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 100px auto;
}
