@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

html,
body,
.container {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  /* 11 vw bc width of light is 10vw */
  padding: 0 12vw;
}

.banner-words {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.banner-words h1 {
  font-family: "Oleo Script", cursive;
  color: #f5f7da;
  font-size: 10vh;
  text-shadow: 5px 0 #960000;
  padding: 5vw;
}

.banner-words p {
  line-height: 1;
  font-family: monospace;
  color: #f5f7da;
  letter-spacing: 1px;
}

.letter-content {
  margin-bottom: 10vh;
}

.letter-content p,
.gallery-memory-lane p {
  font-family: "Permanent Marker", cursive;
  color: #f5f7da;
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 3;
}

/* santa  */
.santa-holder img {
  position: relative;
  left: -100vw;
  animation-name: santa-go-brr;
  animation-play-state: running;
  animation-duration: 15000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes santa-go-brr {
  from {
    position: relative;
    left: -100vw;
  }
  to {
    position: relative;
    left: 110vw;
  }
}
/* img galleries  */
.gallery-memory-lane {
  display: flex;
  align-items: center;
  margin: 0 5vh;
}

img {
  max-width: 100%;
}

@media (max-device-width: 760px) {
  .gallery-memory-lane.reverse {
    flex-direction: column-reverse;
  }
}

/* Large font changes */
@media (max-device-width: 440px) and (min-device-height: 360px) {
  .banner-words h1 {
    font-size: 6vh;
  }
  .letter-content p,
  .gallery-memory-lane p {
    font-size: 2vh;
    line-height: 2;
  }
}

/* Falling Hats */
.hat-rack {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  top: -200vh;
  max-width: 100vw;
  padding: 0 5vw;
}

.hat {
  max-width: 25vw;
  max-height: 25vw;
  animation-name: hat-falling;
  /* animation-fill-mode: forwards; */
  animation-timing-function: linear;
  position: relative;
  top: -25vw;
}

.hat-1 {
  animation-duration: 1200ms;
  animation-delay: 400ms;
}

.hat-2 {
  animation-duration: 1700ms;
  animation-delay: 500ms;
}

.hat-3 {
  animation-duration: 2000ms;
  animation-delay: 100ms;
}

.hat-4 {
  animation-duration: 1700ms;
}

.hat-5 {
  animation-duration: 1300ms;
  animation-delay: 200s;
}

.hat-6 {
  animation-duration: 1000ms;
  animation-delay: 300ms;
}

.hat-7 {
  animation-duration: 2000ms;
  animation-delay: 600ms;
}

.hat-8 {
  animation-duration: 1050ms;
  animation-delay: 100ms;
}

.hat-9 {
  animation-duration: 1100ms;
  animation-delay: 900ms;
}

.hat-10 {
  animation-duration: 2000s;
  animation-delay: 800s;
}

@keyframes hat-falling {
  0% {
    top: -100px;
    display: inline-block;
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-40deg);
  }
  66% {
    transform: rotate(40deg);
  }
  100% {
    top: 300vh;
    transform: rotate(0deg);
  }
}

/* Lights */
.lights {
  position: fixed;
  width: 10vw;
}
.left {
  left: 0;
}
.right {
  right: 0;
}

.lights-1 {
  top: 0vh;
}
