@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');

html, body, .container {
  width: 100vw;
  min-height: 100vh;
}

html  {
  background-color: green;
}

body {
  background: transparent;
}

.intro-words {
  text-align: center;
}

h1 {
  font-family: 'Oleo Script', cursive;
  color: #f5f7da;
  /* font-size: 5em; */
}

/* Falling Hats */
.hat-rack {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  flex-wrap: wrap;
  position: absolute;
  top: -100vh;
}

.hat {
  display: inline-block;
  max-width: 25vw;
  max-height: 25vw;
  animation-name: hat-falling;
  /* animation-fill-mode: forwards; */
  position: relative;
  top: -25vw;
}

.hat-1 {
  animation-duration: 2s;
  animation-delay: 0.4s;
}

.hat-2 {
  animation-duration: 3s;
  animation-delay: 1.5s;
}

.hat-3 {
  animation-duration: 4s;
  animation-delay: 1s;
}

.hat-4 {
  animation-duration: 3s;
}

.hat-5 {
  animation-duration: 5s;
  animation-delay: 0.2s;
}

.hat-6 {
  animation-duration: 3s;
  animation-delay: 0.3s
}

.hat-7 {
  animation-duration: 1.5s;
  animation-delay: 1s;
}

.hat-8 {
  animation-duration: 2.5s;
  animation-delay: 0.6s
}

.hat-9 {
  animation-duration: 3s;
  animation-delay: 1s;
}

.hat-10 {
  animation-duration: 2.5s;
  animation-delay: 0.5s;
}

@keyframes hat-falling {
  0% {
    top: -100px;
  }
  33% {
    transform: rotate(-40deg);
  }
  100%{
    top: 200vh;
    display: none;
    transform: rotate(40deg);
  }
}
