.jumbotron.jumbotron-fluid {
  height: 100vh;
  background-color: transparent;
  h1 {
    font-size: 4em;
    margin-top: 25vh;
  }
}

.first {
  display: flex;
  height: 100vh;
  align-items: center;
}

h1 {
  font-family: 'Bungee', cursive;
  /* font-size: 5em; */
  text-align: center;
  vertical-align: middle;
  /* width: 100vw; */
  color: royalblue;
  text-shadow: 5px 5px white;
}

