@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@500&display=swap');

html body {
  background: black;
}

p {
  color: #d3d3d3;
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 2;
  font-family: 'Texturina';
}

.jumbotron.jumbotron-fluid {
  height: 100vh;
  background-color: transparent;
  text-align: center;
  display: flex;
  place-items: center;
  h1 {
    font-family: 'Bungee', cursive;
    text-align: center;
    vertical-align: middle;
    color: black;
    // text-shadow: 3px 3px #ff95ff;
    font-size: 4em;
    margin-top: 25vh;
  }
  img {
    max-width: 100%;
  }
}

.letter-text {
  margin-bottom: 15vh;
}


.gallery-memory-lane {
  display: flex;
  align-items: center;
  margin: 15vh 0;
  img {
    max-width: 100%;
  }
  .left-slide {

  }
}