body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Some exciting button focus styles */
*:focus { 
  outline: rgb(97, 106, 185) solid 2px;
}
/* Undo all the above focused button styles
  if the button has focus but the browser wouldn't normally
  show default focus styles */
*:focus:not(:focus-visible) {
  outline: none;
}
/* Some even *more* exciting button focus styles */
*:focus-visible { 
  outline: rgb(97, 106, 185) solid 2px;
}
